/* _VARIABLES.SCSS
 * --------------------------------------------------
 *  SASS variables
 * 
 *  Colors, fonts, breakpoints, transitions and 
 *  other variables should be declared here
 * -------------------------------------------------- */

// Colors


$white: #ffffff;
$black: #272727;
$blue: #4440D6;
$yellow: #F8D136; 
$purple: #BB85E2;
$light-warning: #FDE2D6;
$light: #ffffff;
$greenish-cyan: #03642c;
$color-primary: #FFCD22;
$color-secondary: $black;
$color-dark: $black;
$color-light: #86A0BB;
$color-lighter: #F2F2F2;
$color-lightest: #FBFBFB;
$global-border: #b5b5b5;



/* buttons */



$global-emphasis-color: $color-light;
$global-light-background: $white;
$global-primary-background: $color-primary;
$global-secondary-background: $white;
$global-muted-background: $color-light;
$global-inverse-color: $white;
$base-body-background: $global-inverse-color;
$global-color: $color-light;


// Typography
/* @font-face {
    font-family: recoleta-regular;
    src: url(../assets/fonts/recoleta/recoleta-regular-webfont.woff);
    src: url(../assets/fonts/recoleta/recoleta-regular-webfont.woff2);
    font-weight: 500;
}
@font-face {
    font-family: recoleta-semibold;
    src: url(../assets/fonts/recoleta/recoleta-semibold-webfont.woff);
    src: url(../assets/fonts/recoleta/recoleta-semibold-webfont.woff2);
    font-weight: 700;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* $base-heading-font-family:'' ; */
$base-heading-font-weight: 500;
$base-body-font-weight: 300;
$base-heading-font-family:"DM Sans", sans-serif;
$global-font-family: "DM Sans", sans-serif;
/* $global-font-family: 'Open Sans', sans-serif; */
$base-body-font-family: "Raleway", sans-serif; 
$base-heading-margin-top: 20px;
$global-font-size: 16px;
$global-font-weight-bold: 700;

// breakpoints
$bp-small: 480px;
$bp-medium: 768px;
$bp-normal: 960px;
$bp-large: 1200px;
$bp-xlarge: 1500px;

// transitions
$cubic: cubic-bezier(.64,.09,.08,1);

//buttons

$input-btn-padding-y: 18px;
