{# <div class="preloader">
    <div class="overlay"></div> 
    <noscript>
        <div class="uk-text-center">
            <h3>This website requires javascript to work!</h3>
            <p>Please enable javascript on your browser or try a different browser or device.</p>
        </div>
    </noscript>
</div> #}

{# <div class="preloader">
    <div class="loader-container">
        <div class="logo-container">
            <img src="./images/logo-text.png" >
        </div>
    </div>
    <noscript>
        <div class="uk-text-center">
            <h3>This website requires javascript to work!</h3>
            <p>Please enable javascript on your browser or try a different browser or device.</p>
        </div>
    </noscript>
</div> #}

{# <div class="page-reload-loader" >
   
</div> #}


{# <div class="site-loader">
        <div class="logo-text-container">
            <div class="top-line"></div>
            <div class="left-line"></div>
            <img src="./images/logo-text.png" >
            <div class="right-line"></div>
            <div class="bottom-line"></div>
        </div>
</div> #}
